apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: recursing-lamarr
  name: frontend-deployment
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app.kubernetes.io/name: frontend
  template:
    metadata:
      labels:
        app.kubernetes.io/name: frontend
    spec:
      containers:
      - name: frontend
        image: 427398298435.dkr.ecr.us-east-2.amazonaws.com/saas-tenant-dot-cloud:latest
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        ports:
          - containerPort: 80
